apiVersion: apps/v1
kind: Deployment
metadata:
  name: proxy-deployment
  labels:
    app: gotiny
    use: proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gotiny
      use: proxy
  template:
    metadata:
      labels:
        app: gotiny
        use: proxy
    spec:
      containers:
        - name: gotiny
          image: docker.io/pkotas/gotiny-proxy:logop
          env:
            - name: PROXY_PORT
              value: "8080"
            - name: TINY_URL
              value: "http://gotiny-app:8888"
            - name: JAEGER_AGENT_HOST
              value: "jaeger-all-in-one-inmemory-agent"
            - name: JAEGER_AGENT_PORT
              value: "6831"
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          ports:
            - containerPort: 80
